body{
    margin: 0;
    padding: 0;
    
}
html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ===== VARIABLES ===== */
:root{
    --bg-color: #fff;
    --primary-color: #000000;
    --second-color: #196FE0;
    --hover-bg-color: #efefef;
    --shadow-1: 0px 2px 10px rgba(0, 0, 0, 0.3);
    --shadow-2: 0px 2px 10px rgba(26, 112, 224, 0.4);
}

/* ===== Reusable CSS ===== */
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
ul{
    list-style-type: none;
}
/* ===== Menu Toggle ===== */
.menu-toggle{
    display: none;
    font-size: 24px;
    background: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}
/* ===== Navigation Bar ===== */
.nav{
    position: sticky;
    top: 0;
    /* max-width: 1800px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3vw;
    height: 90px;
    background: #040e271e;
    color: white;
    padding: 10px 20px;
    z-index: 100000000;
}
.logo h1{
    font-weight: 600;
    top: 0;
}
.nav-main-menu{
    display: flex;
}
.nav-link{
    padding: 26px 10px;
    margin-inline: 10px;
    transition: .3s;
    color: white;
}
.nav-link:hover{
    color: #33D4D6;
}
.nav span{
    margin-right: 5px;
}
.fa-chevron-down, .fa-chevron-right{
    font-size: 12px;
    transition: .3s;
}
.dropdown:hover .fa-chevron-down, .sub-dropdown:hover .fa-chevron-right{
    transform: rotate(180deg);
}
.dropdown:hover .nav-link{
    color: white;
}
/* ===== Dropdown ===== */
.dropdown{
    position: relative;
}
.nav-main-menu .dropdown-content{
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
    background: var(--bg-color);
    min-width: 240px;
    border-top: 3px solid #ccc;
    border-radius: 0 0 3px 3px;
    animation: slideUp .3s;
}
.dropdown-content li{
    padding: 20px;
}
.dropdown-content li:hover{
    background: var(--hover-bg-color);
}
.dropdown:hover .dropdown-content{
    display: block;
}
/* ===== Sub - Dropdown ===== */
.nav-main-menu .sub-dropdown-content{
   display: none;
   position: absolute;
   top: 34%;
   left: 100%;
   background: var(--bg-color);
   min-width: 240px;
   border-top: 3px solid #ccc;
   border-radius: 3px;
   animation: slideUp .3s;
   box-shadow: var(--shadow-1);
}
@keyframes slideUp {
    from{
        margin-top: 20px;
    }
    to{
        margin-top: 0;
    }
}
.dropdown-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-dropdown:hover .sub-dropdown-content{
    display: block;
}
.btn{
    font-size: 15px;
    background-color: var(--second-color);
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 30px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    opacity: 0.9;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: var(--bg-color);
    padding: 20px;
}
main p{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.nav .nav-right{
    display: flex;
    gap: 30px;
    align-items: center;
    #cell{
        display: flex;
        gap: 10px;
        align-items: center;
        p{
            margin: 0;
        }
    }
    #apply{
        border: 2px solid #33D4D6;
        border-radius: 5px;
        padding: 12px 18px;
        font-weight: 600;
        color: #33D4D6;
    }
    #apply:hover{
        background: #33D4D6;
        color: white;
        transition: 0.3s ease 0s;
    }
}
.nav label{
    display: none;
}
.slide{
    height: 360px;
    width: 100%;
    left: -0px;
    top: 28px;
    position: absolute;
    background-color: rgb(51, 51, 51);
    transition: 0.3s ease;
    display: none;
    ul{
        list-style: none;
        padding: 30px 20px;
        li{
            padding: 5px 0;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
        li:hover{
            background-color: white;
            cursor: pointer;
            transition: 0.3s ease 0s;
            a{
                color: black;
            }
        }
    }
}
#checkbox{
    display: none; /* hide the input */
}
.toggle{
    margin-top: -9px;
    position: absolute;
    padding:7px;
    background-color: black;
    cursor: pointer;
    color: #fff;
    font-family: 600;
    font-size: 15px;
    z-index: 1;
    img{
        width: 20px;
    }
}
input:checked ~ .slide{ 
    top: 100px; 
    transition: left ease-in-out 0.3s; 
    display: block;
}
/* ===== Responsive styles ===== */
@media only screen and (max-width: 1200px){
    .nav-main-menu{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    .nav .nav-right {
        display: none;
    }
    .nav label{
        display: block;
    }
    .nav{
        justify-content: space-around;
        gap: 90px;
    }
}
@media screen and (max-width: 550px){
    .toggle{
        font-size: 10px;
        padding: 2px;
        img{
            width: 15px;
        }
    }
}
/* ===== Responsive styles ===== */
@media only screen and (max-width: 794px){
    .nav-main-menu{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
}
.main-content{
    z-index: 1;
    position: relative;
    height: 553px;
    margin-top: -90px;
    img{
        top: 0;
        position: absolute;
        width: 100%;
        height: 552px;
    }
    .container{
        max-width: 1300px;
        margin: 0 auto;
        padding-top: 300px;
        position: relative;
        z-index: 30;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 10px;
            h1{
                color: white;
                font-size: 65px;
                font-weight: 500;
                line-break:strict;
            }
            button{
                width: 40%;
                padding: 15px 12px;
                border-radius: 10px;
                background-color: #33D4D6;
                color: white;
                font-weight: 700;
                border: none;
            }
            button:hover{
                background: transparent;
                border: 1px solid #33D4D6;
                cursor: pointer;
                transition: 0.5s ease 0s;
                color: #33D4D6;
            }
        }
        .right{
            background: white;
            border-radius: 10px;
            div{
                padding: 70px 50px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                h3{
                    text-align: center;
                    font-size: 40px;
                }
                p{
                    text-align: center;
                }
                input{
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.219);
                    width: 80%;
                }
                button{
                    width: 80%;
                    padding: 20px ;
                    border-radius: 10px;
                    background-color: #33D4D6;
                    color: white;
                    font-weight: 700;
                    border: none;
                }
                button:hover{
                    background: transparent;
                    border: 1px solid #33D4D6;
                    cursor: pointer;
                    transition: 0.5s ease 0s;
                    color: #33D4D6;
                }
            }
        }
    }
}
.main-content:before{
    content: "";
    background-color: #040e27a8;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 1;
}
.article{
    display: flex;
    justify-content: space-evenly;
    margin-top: 400px;
    max-width: 1300px;
    margin: 0 auto;
}
.article .article_content{
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
.heading_btn{
    margin-left: 80px;
    max-width: 1300px;
    margin: 0 auto;
}
.heading_btn h1{
    font-weight: 300;
}
hr{
    opacity: 0.2;
    width: 70%;
    margin-bottom: 100px;
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    
    gap: 10px;
    margin: 20px;
    padding-left: 60px;
}
.Buttonrow1,
.Buttonrow2,
.Buttonrow3,
.Buttonrow4{
    max-width: 1300px;
    margin: 0 auto;
}
/* Basic button styling */
.btn {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Default button styles */
.btn.default {
    color: #000;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}
.btn.default1 {
    color: #f1f1f1;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}
.btn.primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn.primary1 {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
}
.btn.success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn.success1 {
    color: #28a745;
    background-color: #fff;
    border-color: #28a745;
}

.btn.info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn.info1 {
    color: #17a2b8;
    background-color: #fff;
    border-color: #17a2b8;
}
.btn.warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn.warning1 {
    color: #ffc107;
    background-color: #fff;
    border-color: #ffc107;
}
.btn.danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn.danger1 {
    color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
}
.btn.link {
    color: black;
    text-decoration: none;
    background-color: #f1f1f1;
    border-color: transparent;
    text-decoration: underline;
}
.btn.link1 {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
}
.btn.disable {
    color: #6c757d;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    cursor: not-allowed;
}
.Buttonrow4{
    margin-bottom: 120px;
}
/* Hover effects */
.btn:hover:not(.disable) {
    color: #6c757d;
    background-color: #f1f1f1;
}

.btn.default:hover {
    color: black;
    background-color: #00000000;
}
.btn.default1:hover {
    color: black;
    background-color: #00000000;
}

.btn.primary:hover {
    color: #007bff;
    background-color: #fff;
}
.btn.primary1:hover {
    color: #fff;
    background-color: #007bff;
}

.btn.success:hover {
    color: #28a745;
    background-color: #fff;
}
.btn.success1:hover {
    color: #fff;
    background-color: #28a745;
}

.btn.info:hover {
    color: #17a2b8;
    background-color: #fff;
}
.btn.info1:hover {
    color: #fff;
    background-color: #17a2b8;
}
.btn.warning:hover {
    color: #ffc107;
    background-color: #fff;
}
.btn.warning1:hover {
    color: #fff;
    background-color: #ffc107;
}
.btn.danger:hover {
    color: #dc3545;
    background-color: #fff;
}
.btn.danger1:hover {
    color: #fff;
    background-color: #dc3545;
}
.btn.link:hover {
    color: black;
    background-color: transparent;
}
.btn.link1:hover {
    color: black;
    background-color: #f1f1f1;
}

.alignments{
    .container{
        max-width: 1300px;
        margin: 0 aut0;
        .left{
            .innerleft{
                display: flex;
                gap: 10px;
            }
        }
        .right{
            text-align: right;
            .innerright{
                display: flex;
                gap: 10px;
            }
        }
    }
}
.defintions{
    .container{
        max-width: 1300px;
        margin: 0 auto;
        .alldefs{
            display: flex;
            justify-content: space-evenly;
        }
    }
}
footer{
    .container{
        padding: 100px;
        .inner{
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            ul{
                padding: 0;
                li{
                    color: #7A838B;
                    font-size: 13px;
                    line-height: 42px;
                    #socials{
                        img{
                            border: 1px solid black;
                            padding: 10px;
                        }
                    }
                    #inputing{
                        #mail{
                            border: none;
                            /* inline styling is done */
                        }
                        a{
                            background-color: #0A8CFF;
                            /* inline styling is done */
                        }
                    }
                }
            }
        }
        .bottom{
            padding: 50px;
            text-align: center;
            color: #7A838B;
            margin-bottom: 0;
            h3{
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    
}
@media screen and (max-width:600px) {
    .article .article_content {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 20px;
        padding-left: 0px;
    }
    .alignments {
         .container {
             .left {
                .innerleft {
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;
                }
            }
            .right{
                .innerright {
                    flex-wrap: wrap;
                }
            }
        }
    }
    .defintions {
         .container {
            .alldefs {
                flex-wrap: wrap;
            }
        }
    }
    footer {
        .container {
            padding: 0px;
            .inner{
                gap: 10px;
                flex-wrap: wrap;
            }
        }
    }
}