body{
    margin: 0;
    padding: 0;
    
}
html,body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ===== VARIABLES ===== */
:root{
    --bg-color: #fff;
    --primary-color: #000000;
    --second-color: #196FE0;
    --hover-bg-color: #efefef;
    --shadow-1: 0px 2px 10px rgba(0, 0, 0, 0.3);
    --shadow-2: 0px 2px 10px rgba(26, 112, 224, 0.4);
}

/* ===== Reusable CSS ===== */
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
ul{
    list-style-type: none;
}
/* ===== Menu Toggle ===== */
.menu-toggle{
    display: none;
    font-size: 24px;
    background: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}
/* ===== Navigation Bar ===== */
.nav{
    position: sticky;
    top: 0;
    /* max-width: 1800px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3vw;
    height: 90px;
    background: #040e271e;
    color: white;
    padding: 10px 20px;
    z-index: 100000000;
}
.logo h1{
    font-weight: 600;
    top: 0;
}
.nav-main-menu{
    display: flex;
}
.nav-link{
    padding: 26px 10px;
    margin-inline: 10px;
    transition: .3s;
    color: white;
}
.nav-link:hover{
    color: #33D4D6;
}
.nav span{
    margin-right: 5px;
}
.fa-chevron-down, .fa-chevron-right{
    font-size: 12px;
    transition: .3s;
}
.dropdown:hover .fa-chevron-down, .sub-dropdown:hover .fa-chevron-right{
    transform: rotate(180deg);
}
.dropdown:hover .nav-link{
    color: white;
}
/* ===== Dropdown ===== */
.dropdown{
    position: relative;
}
.nav-main-menu .dropdown-content{
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
    background: var(--bg-color);
    min-width: 240px;
    border-top: 3px solid #ccc;
    border-radius: 0 0 3px 3px;
    animation: slideUp .3s;
}
.dropdown-content li{
    padding: 20px;
}
.dropdown-content li:hover{
    background: var(--hover-bg-color);
}
.dropdown:hover .dropdown-content{
    display: block;
}
/* ===== Sub - Dropdown ===== */
.nav-main-menu .sub-dropdown-content{
   display: none;
   position: absolute;
   top: 34%;
   left: 100%;
   background: var(--bg-color);
   min-width: 240px;
   border-top: 3px solid #ccc;
   border-radius: 3px;
   animation: slideUp .3s;
   box-shadow: var(--shadow-1);
}
@keyframes slideUp {
    from{
        margin-top: 20px;
    }
    to{
        margin-top: 0;
    }
}
.dropdown-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-dropdown:hover .sub-dropdown-content{
    display: block;
}
.btn{
    font-size: 15px;
    background-color: var(--second-color);
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 30px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    opacity: 0.9;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: var(--bg-color);
    padding: 20px;
}
main p{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.nav .nav-right{
    display: flex;
    gap: 30px;
    align-items: center;
    #cell{
        display: flex;
        gap: 10px;
        align-items: center;
        p{
            margin: 0;
        }
    }
    #apply{
        border: 2px solid #33D4D6;
        border-radius: 5px;
        padding: 12px 18px;
        font-weight: 600;
        color: #33D4D6;
    }
    #apply:hover{
        background: #33D4D6;
        color: white;
        transition: 0.3s ease 0s;
    }
}
.nav label{
    display: none;
}
.slide{
    height: 360px;
    width: 100%;
    left: -0px;
    top: 28px;
    position: absolute;
    background-color: rgb(51, 51, 51);
    transition: 0.3s ease;
    display: none;
    ul{
        list-style: none;
        padding: 30px 20px;
        li{
            padding: 5px 0;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
        li:hover{
            background-color: white;
            cursor: pointer;
            transition: 0.3s ease 0s;
            a{
                color: black;
            }
        }
    }
}
#checkbox{
    display: none; /* hide the input */
}
.toggle{
    margin-top: -9px;
    position: absolute;
    padding:7px;
    background-color: black;
    cursor: pointer;
    color: #fff;
    font-family: 600;
    font-size: 15px;
    z-index: 1;
    img{
        width: 20px;
    }
}
input:checked ~ .slide{ 
    top: 100px; 
    transition: left ease-in-out 0.3s; 
    display: block;
}
/* ===== Responsive styles ===== */
@media only screen and (max-width: 1200px){
    .nav-main-menu{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    .nav .nav-right {
        display: none;
    }
    .nav label{
        display: block;
    }
    .nav{
        justify-content: space-around;
        gap: 90px;
    }
}
@media screen and (max-width: 550px){
    .toggle{
        font-size: 10px;
        padding: 2px;
        img{
            width: 15px;
        }
    }
}
@media screen and (max-height: 850px){
    .main-content{
        height: 20%;
        img{
           height: 100%;
        }
        .content{
            padding-top: 100px;
        }
    }
}
.main-content{
    z-index: 1;
    position: relative;
    height: 960px;
    margin-top: -90px;
    img{
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .container{
        height: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding-top: 300px;
        position: relative;
        z-index: 30;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 10px;
            h1{
                color: white;
                font-size: 65px;
                font-weight: 500;
                line-break:strict;
            }
            button{
                width: 40%;
                padding: 15px 12px;
                border-radius: 10px;
                background-color: #33D4D6;
                color: white;
                font-weight: 700;
                border: none;
            }
            button:hover{
                background: transparent;
                border: 1px solid #33D4D6;
                cursor: pointer;
                transition: 0.5s ease 0s;
                color: #33D4D6;
            }
        }
        .right{
            background: white;
            border-radius: 10px;
            div{
                padding: 70px 50px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                h3{
                    text-align: center;
                    font-size: 40px;
                }
                p{
                    text-align: center;
                }
                input{
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.219);
                    width: 80%;
                }
                button{
                    width: 80%;
                    padding: 20px ;
                    border-radius: 10px;
                    background-color: #33D4D6;
                    color: white;
                    font-weight: 700;
                    border: none;
                }
                button:hover{
                    background: transparent;
                    border: 1px solid #33D4D6;
                    cursor: pointer;
                    transition: 0.5s ease 0s;
                    color: #33D4D6;
                }
            }
        }
    }
}
.main-content:before{
    content: "";
    background-color: #040e27a8;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 1;
}
.offers{
    .container{
        max-width: 1300px;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        .bar{
            height: 5px;
            width: 120px;
            background-color: #33D4D6;
            border-radius: 10px;
        }
        h3{
            text-align: center;
            font-size: 44px;
        }
        p{
            text-align: center;
        }
        .packages{
            display: flex;
            gap: 37px;
            #pkg1{
                text-align: center;
                width: 400px;
                background: #0a8cff;
                background: -moz-linear-gradient(top, #0a8cff 0%, #054680 100%);
                background: -webkit-linear-gradient(top, #0a8cff 0%, #054680 100%);
                background: linear-gradient(to bottom, #0a8cff 0%, #054680 100%);
                padding: 90px 10px;
                border-radius: 10px;
                h5{
                    margin-top: 10px;
                    color: white;
                    font-weight: 500;
                    font-size: 15px;
                }
                h2{
                    color: #33D4D6;
                }
                hr{
                    width: 100%;
                    color: white;
                    background-color: white;
                    height: 2px;
                }
                ul{
                    margin: 40px 20px;
                    padding-left: 60px;
                    li::marker{
                        color: #33D4D6;
                        font-size: 25px;
                    }
                    li{
                        text-align: left;
                        list-style-type: disc;
                        color: white;
                        font-weight: 600;
                        
                    }
                }
                a{
                    margin-top: 60px;
                   background-color: #33D4D6;
                   padding: 15px 35px;
                   color: white;
                   border-radius: 5px;
                }
                a:hover{
                    background: transparent;
                    border: 1px solid #33D4D6;
                    color: #33D4D6;
                    transition: 0.3s ease 0s;
                }
            }
        }
    }
}

.choose-us{
    .container{
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 588px;
        }
        .why-us{
            margin: 0 0 0 40px;
            h3{
                font-size: 44px;
                font-weight: 400;
                color: #001D38;
                z-index: 0;
                margin-bottom: 15px;
                text-transform: capitalize;
            }
            p{
                color: #7A838B;
                font-size: 16px;
            }
            ul{
                li{
                    list-style-type: disc;
                    font-size: 16px;
                    line-height: 32px;
                    color: #040E27;
                    font-weight: 400;
                }
                li::marker{
                    color: #0a8cff;
                    font-size: 30px;
                }
            }
            a{
                background: #33D4D6;
                color: #fff;
                display: inline-block;
                padding: 11px 29px 13px 29px;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 500;
                border: 0;
                border: 1px solid transparent;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                text-align: center;
                color: #fff ;
                text-transform: capitalize;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                cursor: pointer;
            }
            a:hover{
                color: #33D4D6;
                background: transparent;
                border: 1px solid #33D4D6;
            }
        }
    }
}
.works{
    background-color: #F5FBFF;
    padding: 90px 0;
    .container{
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .bar{
            height: 5px;
            width: 120px;
            background-color: #33D4D6;
            border-radius: 10px;
        }
        h3{
            font-size: 44px;
            font-weight: 400;
            color: #001D38;
            position: relative;
            z-index: 0;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: #7A838B;
            margin-bottom: 13px;
            font-family: "Roboto", sans-serif;            
        }
        .content{
            display: flex;
            justify-content: space-between;
            #content1{
                display: flex;
                flex-direction: column;

                #number{
                    padding: 20px;
                    background-color: #DDF0FF;
                    color: #0A8CFF;
                    display: inline;
                    width: 15%;
                    border-radius: 50%;
                }
                h5{
                    font-size: 24px;
                    color: #040E27;
                    font-weight: 400;
                    margin-top: 20px;
                    margin-bottom: 15px;                    
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #7A838B;
                    margin-bottom: 13px;
                    font-family: "Roboto", sans-serif;
                }
            }
        }
    }
}
.faq{
    .container{
        display: flex;
        gap: 50px;
        margin: 0;
        padding: 0;
        align-items: center;
        img{
            width: 50%;
        }
        .faqs{
            h3{
                font-size: 45px;
            }
            li{
                font-size: 20px;
                list-style-type:none;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 20px;
            }
            li::before{
                border-right:5px solid black;
                border-bottom:5px solid black;
                width:10px;
                height:10px;
                transform: rotate(-45deg);
                margin-top:40px;                
            }
            p{
                padding-left: 50px;
            }
        }
    }
}
#arrow {
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:10px;
    height:10px;
    transform: rotate(-45deg);
    margin-top:40px;
}
.clients{
    padding: 100px 0;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .says{
        p{
            font-size: 20px;
            color: #040E27;
            line-height: 32px;
            margin-bottom: 18px;
        }
        span{
            color: #7A838B;
            font-size: 16px;
            font-weight: 400;
            display: block;
        }
    }
    .slider{
        p{
            padding: 20px 25px;
            border-radius: 50%;
            background-color: #DDF0FF;
            color: #0A8CFF;
            font-family: 700;
            font-size: 20px;
        }
    }
}
.loanbar{
    background-image: url(https://preview.colorlib.com/theme/finloans/img/banner/loan.png.webp);
    height: 300px;
    position: relative;
    margin: 80px 0;
    .container{
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 120px 0;
        position: relative;
        z-index: 1;
        h2{
            font-size: 44px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 0;
            line-height: 56px;
        }
        a{
            background: #33D4D6;
            color: #fff;
            display: inline-block;
            padding: 11px 29px 13px 29px;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 500;
            border: 0;
            border: 1px solid transparent;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            text-align: center;
            color: #fff ;
            text-transform: capitalize;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            cursor: pointer;
        }
        a:hover{
            color: #33D4D6;
            background: transparent;
            border: 1px solid #33D4D6;
        }
    }
}
.loanbar::before{
    content: "";
    position: absolute;
    background: #040e2742;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
footer{
    .container{
        .inner{
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            ul{
                padding: 0;
                li{
                    color: #7A838B;
                    font-size: 13px;
                    line-height: 42px;
                    #socials{
                        img{
                            border: 1px solid black;
                            padding: 10px;
                        }
                    }
                    #inputing{
                        #mail{
                            border: none;
                            /* inline styling is done */
                        }
                        a{
                            background-color: #0A8CFF;
                            /* inline styling is done */
                        }
                    }
                }
            }
        }
        .bottom{
            padding: 50px;
            text-align: center;
            color: #7A838B;
            margin-bottom: 0;
            h3{
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    
}
@media screen and (max-width: 1024px) {
    .offers {
        .container {
            .packages {
                display: flex;
                gap: 10px;
                justify-content: center;
                #pkg1{
                    width: 100%;
                }
            }
        }
    }
    .choose-us {
        .container {
            width: 80%;
            margin: 10;
            justify-content: center;
            img{
                width: 50%;
                padding-bottom: 50px;
            }
        }
    }
    .faq {
        .container {
            display: flex;
            gap: 50px;
            margin: 0 auto;
            padding: 0;
            align-items: center;
            img{
                width: 50%;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .main-content {
        .container {
            padding-top: 200px;
            /* flex-wrap: wrap; */
            flex-direction: column;
            justify-content: start;
            /* align-items: center; */
            gap: 10px;
            padding: 150px 0;
            margin: 0;
            .left{

                h1{
                    font-size: 30px;
                }
                button{
                    width: 70%;
                }
            }
            .right{
                div{
                    padding: 50px 25px;
                }
            }
        }
    }
    .offers {
        .container {
            .packages {
                display: flex;
                gap: 37px;
                flex-direction: column;
                justify-content: center;
                #pkg1{
                    width: 100%;
                }
            }
        }
    }
    .choose-us {
        .container {
            width: 80%;
            margin: 10;
            justify-content: center;
            flex-direction: column;
            img{
                width: 100%;
            }
        }
    }
    .works {
         .container {
            .content {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                #content1{
                    #number{
                        width: 10%;
                    }
                }
            }
        }
    }
    .faq {
        .container {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin: 0 auto;
            padding: 0;
            align-items: center;
            img{
                width: 100%;
            }
        }
    }
    .clients {
        flex-direction: column;
        margin: 0 auto;
        align-items: flex-start;
        .slider{
            display: none;
        }
    }
    .loanbar {
        .container {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 30px;
            h2{
                font-size: 1.7rem;
                padding: 0 10px;
                br{
                    display: none;
                }
            }
        }
    }
    footer {
        & .container {
            .inner {
                flex-wrap: wrap;
            }
        }
    }
}